// Fonts
$fFamily: "Jetbrains mono", "Inter", sans-serif;

// Colors
$darkText: #333;
$greyDarkBG: rgb(51 51 51 / 60%);
$greyMidBG: rgb(51 51 51 / 30%);
$greyLightBG: rgb(51 51 51 / 10%);
$lightBG: #F1F1F1;

// Scrollbar
$scrollbarThumbColor: $darkText;
$scrollbarTrackColor: $greyMidBG;

// Sizing along the upper border
$mobileBreakpoint: 768px; // 0-767
$tabletBreakpoint: 1024px; // 768 - 1024, portrait-landscape, etc
$macbookBreakpont: 1440px;
$fullHDBreakpont: 1920px;

// Variables
// Text
$textColor: $darkText;

// Selection
$selectionBG: $darkText;
$selectionText: $lightBG;

// Border
$borderColor: $greyDarkBG;
