// Fonts
$fFamily: "Jetbrains mono", "Inter", sans-serif;

// Colors
// Main colors
$cBaseText: #000;
$linkColor: #000;
$errorColor: #E70505;
$progressColor: rgb(18 18 18 / 10%);
$bgGray: rgb(15 14 14 / 16%);

// Selection
$selectionColorBG: #000;
$selectionColorColor: #FFF;

// Sections
$sectionColorBlue: #153092;
$sectionColorWhite: #fff;
$sectionColorGray: #e1e7f3;

// Scrollbar
$scrollbarThumbColor: #000;
$scrollbarTrackColor: rgb(18 18 18 / 10%);

// Sizing along the upper border
$mobileBreakpoint: 768px; // 0-767
$tabletBreakpoint: 1024px; // 768 - 1024, portrait-landscape, etc
$macbookBreakpont: 1440px;
$fullHDBreakpont: 1920px;

